@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Playfair+Display:wght@900&family=Roboto:wght@300&family=Source+Sans+Pro:wght@300;400&display=swap');
::selection{
    background-color: #ffdc00;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    color: #444452;
}
:root{
    font-size: 1rem;
}
main{
    max-width: 1550px;
    margin-left: auto;
    margin-right: auto;
}
h1, h2{
    font-weight: 100;
    font-size: 2.4rem;
}
p{
    font-family: 'Roboto', sans-serif;
}
.hero{
padding: 50px 100px;
}
.hero__hello{
    margin: 100px 0 80px 30px;
}
.hand{
    display: inline-block;
    margin-right: 20px;
}
.hero__tag{
    margin: 50px 0 80px 30px;
    max-width: 700px;
    font-weight: 400;
    padding: 50px 0;
}
.hero__contact{
    margin: 100px 0 80px 30px;
    font-size: 1.25rem;
    font-weight: 700;
}
.tag__name{
    font-weight: 900;
}
.section-background, .section-projects, .section-skills{
    padding: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.section-resume{
    font-size: 1.25rem;
    font-weight: 700;
    margin-left: 10%;
}
.background__title, .skills__title, .projects__title{
    display: block;
    width: 200px;
    margin-right: 70px;
    text-align: right;
    font-weight: 100;
    color: #007bff;
    font-weight: 700;
    letter-spacing: 2px;
    padding-left: 50px;
    font-size: 1.3rem;
}

.skills__content, .background__content, .projects__content{
    width: 100%;
    max-width: 1150px;
}
.skills__content{
display: flex;
}
.skills__content-category{
    padding-right: 50px;
}
.background__content p{
padding-bottom: 25px;
}
.languajes, .tools{
    font-weight: 700;
    color: #36363c;
}

li{
list-style: none;
font-size: .9rem;
}
.projects__content{
    position: relative;
}

.project1{
    position: relative;
    display: flex;
    width: 100%;
    padding-bottom: 50px;
}
.project1__caption{
    max-width: 200px;

}
.techs{
    display: block;
}
.tech{
    display: inline-block;
    margin-top: 2px;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 600;
    padding: 5px;
    border: solid 2px;
    border-color: #007bff;
    border-radius: 10%;
}
.caption__link{
    text-decoration: none;
}
.caption__title{
    display: block;
    font-weight: 900;
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-bottom: 10px;
}
.project1__img{
    padding-right: 20px;
    max-width: 100%;
    min-width: 300px;
}
footer{
    padding: 50px 80px;
    float: right;
}
.foot__mobile{
    display: none;
}
.mobile__social, .desktop__social{
    display: flex;
    width: 200px;
    justify-content: space-evenly;
}
.social{
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    color: #007bff;
    text-decoration: none;
    padding-right: 10px;
    letter-spacing: 2px;
}
.social__svg{
    width: 30px;
    height: 30px;
}
.gear-text{
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.coming-title{
    text-align: center;
    display: block;
    /* width: 100%; */
    font-size: 3rem;
    /* background-color: red; */
}







@media screen and ( max-width: 770px){
    .hero{
        padding: 70px 50px;
    }
    .hero__contact{
        margin: 100px 0 0 0;
    }
    h1, h2{
        font-size: 2.2rem;
    }
    .section-background, .section-skills, .section-projects{
        flex-direction: column;
        position: relative;
    }
    .background__title, .skills__title, .projects__title{
        padding: 0;
        text-align: left;
        position: relative;
        left: -30px;
        margin-bottom: 15px;
    }
    .project1{
        flex-direction: column;
        width: 100%;
        height: auto;
        padding-bottom: 50px;
    }
    .project1__caption{
        max-width: unset;
    }
    .project1__img{
        padding-right: 0;
    }
    .project1__caption{
        width: 100%;
    }
    footer{
        float: none;
    }
    .foot__mobile{
        display: initial;
    }
    .mobile__social{
        margin-left: auto;
        margin-right: auto;
    }
    .foot__desktop{
        display: none;
    }
}
@media screen and ( max-width: 535px){
    .hero{
        padding: 70px 50px;
    }
    h1, h2{
        font-size: 1.8rem;
        
    }
}

.button{
    position: relative;
    float: right;
    top: 30px;
    right: 10px;
    background-color: #808080;
    cursor: pointer;
    width: 50px;
    height: 25px;
    border-radius: 100px;
}
.ball{
    position: absolute;
    background-color: #ffffff;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    transform: translate(15%, 10%);
    transition-property: transform;
    transition-duration: 0.5s
}
.active-2{
    background-color: #bae67e;

}
.move{
    transform: translate(140%, 10%);
    transition-property: transform;
    transition-duration: 0.5s

}

.active-bg{
    background-color: #131929;
}
.active{
    color: #e8e8e8;
}

.hand:hover{
    cursor: pointer;
    transform: translateX(10px);
    object-position: center;
    transition-property: transform;
    transition-duration: .5s;
}